numpy==1.26
pandas==2.2
scipy==1.14
matplotlib==3.8
scikit-learn==1.4
tqdm==4.67
pip==24.3
plyfile==1.1
ffmpeg-python
bitarray
trimesh
# git+https://github.com/fraunhoferhhi/PLAS.git
torch==2.4.0
torchvision==0.19 
pylint==4.0.1

# pip install torch==2.4.0 torchvision==0.19 --index-url https://download.pytorch.org/whl/cu118
# conda install -c conda-forge ffmpeg 