# First video – Position 
bd_0      : 10
qp_0      : 0 
codec_0   : x265 
comp_0    : x,y,z,x_add,y_add,z_add  
quant_0   : linear
format_0  : yuv444
packing_0 : temporal

# Second video – Opacity  
bd_1      : 10
qp_1      : 8 
codec_1   : x265 
comp_1    : opacity 
quant_1   : linear
format_1  : yuv400
packing_1 : temporal

# Third video – Scale  
bd_2      : 10
qp_2      : 8 
codec_2   : x265
comp_2    : scale_0,scale_1,scale_2
quant_2   : linear
format_2  : yuv444
packing_2 : temporal

# Fourth video – Rotation part 1
bd_3      : 10
qp_3      : 8 
codec_3   : x265
comp_3    : rot_0,rot_1,rot_2 
quant_3   : linear
format_3  : yuv444
packing_3 : temporal

# Fifth video – Rotation part 2
bd_4      : 10
qp_4      : 8 
codec_4   : x265
comp_4    : rot_3
quant_4   : linear
format_4  : yuv400
packing_4 : temporal

# Sixth video – SH DC coefficients
bd_5      : 10
qp_5      : 8 
codec_5   : x265
comp_5    : f_dc_0,f_dc_1,f_dc_2
quant_5   : linear
format_5  : yuv444
packing_5 : temporal

# Seventh video – SH AC coefficients f_rest_0,15,30
bd_6      : 10
qp_6      : 8
codec_6   : x265
comp_6    : f_rest_0,f_rest_15,f_rest_30
quant_6   : linear
format_6  : yuv444
packing_6 : temporal

# Eighth video – SH AC coefficients f_rest_1,16,31
bd_7      : 10
qp_7      : 8
codec_7   : x265
comp_7    : f_rest_1,f_rest_16,f_rest_31
quant_7   : linear
format_7  : yuv444
packing_7 : temporal

# Ninth video – SH AC coefficients f_rest_2,17,32
bd_8      : 10
qp_8      : 8
codec_8   : x265
comp_8    : f_rest_2,f_rest_17,f_rest_32
quant_8   : linear
format_8  : yuv444
packing_8 : temporal

# Tenth video – SH AC coefficients f_rest_3,18,33
bd_9      : 10
qp_9      : 8
codec_9   : x265
comp_9    : f_rest_3,f_rest_18,f_rest_33
quant_9   : linear
format_9  : yuv444
packing_9 : temporal

# Eleventh video – SH AC coefficients f_rest_4,19,34
bd_10     : 10
qp_10     : 8
codec_10  : x265
comp_10   : f_rest_4,f_rest_19,f_rest_34
quant_10  : linear
format_10 : yuv444
packing_10: temporal

# Twelfth video – SH AC coefficients f_rest_5,20,35
bd_11     : 10
qp_11     : 8
codec_11  : x265
comp_11   : f_rest_5,f_rest_20,f_rest_35
quant_11  : linear
format_11 : yuv444
packing_11: temporal

# Thirteenth video – SH AC coefficients f_rest_6,21,36
bd_12     : 10
qp_12     : 8
codec_12  : x265
comp_12   : f_rest_6,f_rest_21,f_rest_36
quant_12  : linear
format_12 : yuv444
packing_12: temporal

# Fourteenth video – SH AC coefficients f_rest_7,22,37
bd_13     : 10
qp_13     : 8
codec_13  : x265
comp_13   : f_rest_7,f_rest_22,f_rest_37
quant_13  : linear
format_13 : yuv444
packing_13: temporal

# Fifteenth video – SH AC coefficients f_rest_8,23,38
bd_14     : 10
qp_14     : 8
codec_14  : x265
comp_14   : f_rest_8,f_rest_23,f_rest_38
quant_14  : linear
format_14 : yuv444
packing_14: temporal

# Sixteenth video – SH AC coefficients f_rest_9,24,39
bd_15     : 10
qp_15     : 8
codec_15  : x265
comp_15   : f_rest_9,f_rest_24,f_rest_39
quant_15  : linear
format_15 : yuv444
packing_15: temporal

# Seventeenth video – SH AC coefficients f_rest_10,25,40
bd_16     : 10
qp_16     : 8
codec_16  : x265
comp_16   : f_rest_10,f_rest_25,f_rest_40
quant_16  : linear
format_16 : yuv444
packing_16: temporal

# Eighteenth video – SH AC coefficients f_rest_11,26,41
bd_17     : 10
qp_17     : 8
codec_17  : x265
comp_17   : f_rest_11,f_rest_26,f_rest_41
quant_17  : linear
format_17 : yuv444
packing_17: temporal

# Nineteenth video – SH AC coefficients f_rest_12,27,42
bd_18     : 10
qp_18     : 8
codec_18  : x265
comp_18   : f_rest_12,f_rest_27,f_rest_42
quant_18  : linear
format_18 : yuv444
packing_18: temporal

# Twentieth video – SH AC coefficients f_rest_13,28,43
bd_19     : 10
qp_19     : 8
codec_19  : x265
comp_19   : f_rest_13,f_rest_28,f_rest_43
quant_19  : linear
format_19 : yuv444
packing_19: temporal

# Twenty-first video – SH AC coefficients f_rest_14,29,44
bd_20     : 10
qp_20     : 8
codec_20  : x265
comp_20   : f_rest_14,f_rest_29,f_rest_44
quant_20  : linear
format_20 : yuv444
packing_20: temporal

# Transform
trans_position: 1